<footer class="site-footer">
  <p>&copy; {{ site.title }}, {{ site.time | date: '%Y' }}. {{ site.quote }}</p>
  {% if site.data.nav.footer %}
  <nav>
    {% for nav in site.data.nav.footer %}
      {% assign class = nil %}
      {% if page.url contains nav.url %}
        {% assign class = 'is--active' %}
      {% endif %}
      <a href="{{nav.url}}"{% if class %} class="{{class}}"{% endif%}>{{nav.title}}</a>
      {% if site.show-social-links-in-footer %}
        {% include social-links.html %}
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}
</footer>
