<nav class="btn-group">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="btn btn--facebook">Share on Facebook</a>
  <a href="https://twitter.com/intent/tweet?text={{page.title}}&url={{ site.url }}{{ page.url }}&via={{site.data.social.twitter}}" class="btn btn--twitter">Share on Twitter</a>
  <a href="mailto:?subject={{page.title | uri_escape }}%20by%20{{site.title | uri_escape}}&amp;body={{site.url}}{{page.url}}" target="_blank" class="btn btn--email">Share by Email</a>
</nav>
