// Colors
$color-primary: #369;
$background-color: #fff;
$text-color: #323a45;
$link-color: $color-primary;
$color-muted: #ccc;
$color-borders: #eee;

// Fonts
$font-serif: "Georgia", serif;
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
$font-code: "Source Code Pro";

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra: 900;

$body-font: $font-sans;
$font-size--normal: 1.8em; // sizing is in rems elsewhere (Chrome bug)
$font-size--small: 1.3rem;
$line-height: 1.6;

// Layout
$spacing-unit: 30px;
$max-container-width: 700px;

// Branding
$brand-font: $font-sans;
$brand-font-size: 1.8rem;
$brand-color: #2a2a2a;
$brand-text-transform: none;
$brand-color--hover: darken($brand-color, 15%);
$brand-text-decoration--hover: none;

// Avatar
$avatar-border-radius: 50%;
$avatar-width: 125px;
$avatar-height: 125px;

// Masthead
$masthead-text-color: #888;
$masthead-font-size: 1.4rem;

// Header
$header-font: $font-sans;
$header-background: #fff;
$header-padding: 2rem 1rem;
$header-link-color: #2a2a2a; // plain header links, outside navs
$header-link-color--hover: darken($header-link-color, 15%);
$header-border-style: 1px solid; // leave empty string if none ""
$header-border-color: $color-borders;
$header-border-sides: bottom;
$header-width: 100%;

// Main Navigation
$nav-link-color: $header-link-color;
$nav-link-color--hover: $header-link-color--hover;
$nav-text-transform: uppercase;
$nav-link-font-weight: $font-weight--medium;
$nav-letter-spacing: 1px;
$nav-font-size: 1.3rem;
$nav-text-decoration: none;
$nav-text-decoration--hover: none;

// Footer
$footer-background: $header-background;
$footer-padding: $header-padding;
$footer-link-color: $header-link-color;
$footer-width: $header-width;
$footer-border-style: 1px solid;
$footer-border-color: $header-border-color;
$footer-border-sides: top;
$footer-font-size: $font-size--small;
$footer-font-color: #ccc;

// footnotes
$footnote-font-size: 1.4rem;
$footnote-font-style: normal;
$footnote-text-color: #999;
$footnote-font-family: $font-sans;

// Breakpoint
$breakpoint: 769px;
$small: 600px;

// Social Colors
$social-colors: (
  twitter: #55acee,
  facebook: #3b5998,
  instagram: #f56040,
  google: #ea4335,
  tumblr: #35465c,
  linkedin: #0077b5,
  treehouse: #6fbc6d,
  github: #4183c4,
  email: #ddd
);
