// Colors
$color-primary: #369;
$background-color: #fff;
$text-color: #323a45;
$link-color: $color-primary;
$color-muted: #ccc;
$color-borders: #eee;

// Fonts
$font-serif: "Source Serif Pro", Georgia, serif;
$font-sans: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$font-code: "Source Code Pro";

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra: 900;

$body-font: $font-serif;
$header-font: $font-sans;
$font-size--normal: 1.6em; // sizing is in rems elsewhere (Chrome bug)
$font-size--small: 1.3rem;
$line-height: 1.7;

// Layout
$spacing-unit: 30px;
$max-container-width: 700px;

// Branding
$brand-font: $font-sans;
$brand-color: #2a2a2a;
$brand-text-transform: none;
$brand-color--hover: darken($brand-color, 15%);
$brand-text-decoration--hover: none;

// Avatar
$avatar-border-radius: 50%;
$avatar-width: 125px;
$avatar-height: 125px;

// Header
$header-background: #fff;
$header-padding: 1rem;
$header-link-color: #2a2a2a;
$header-border-style: 1px solid;
$header-border-color: $color-borders;
$header-border-sides: bottom;
$header-width: 100%;

// Footer
$footer-background: $header-background;
$footer-padding: $header-padding;
$footer-link-color: $header-link-color;
$footer-width: $header-width;
$footer-border-style: 1px solid;
$footer-border-color: $header-border-color;
$footer-border-sides: top;
$footer-font-size: $font-size--small;
$footer-font-color: #ccc;

// Breakpoint
$breakpoint: 769px;
