.brand {
  font-size: $brand-font-size;
  font-weight: $font-weight--bold;
  text-transform: $brand-text-transform;
  color: $brand-color;
  &:hover {
    color: $brand-color--hover;
    text-decoration: $brand-text-decoration--hover;
  }
}
