.footnotes {
  border-top: 1px solid $color-borders;
  padding: 2rem 0;
  font-size: $footnote-font-size;
  font-style: $footnote-font-style;
  font-family: $footnote-font-family;
  color: $footnote-text-color;
}
