.circle {
  border-radius: 50%;
}

.avatar {
  background: #2a2a2a;
  height: 101px;
  width: 101px;
  display: inline-block;
  img {
    opacity: 1;
    transition: opacity ease-in-out .25s;
    &:hover {
      opacity: .9;
      transition: opacity ease-in-out .25s;
    }
  }
}
