// media objects

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media(min-width: $breakpoint) {
    text-align: left;
    flex-direction: row;
  }
}

.media__figure {
  @media(min-width: $breakpoint) {
    margin-right: 1rem;
  }
}

.media__body {
  flex: 1;
  h1, h2, h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
