.site-header {
  text-align:center;
  padding: 4rem 0;
  max-width: $max-container-width;
  margin: 0 auto;

  a {
    &:hover {
      color: $header-link-color--hover;
    }
  }
}

header {
  text-align: center;
}
