.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $header-background;
  text-align: center;
  padding: $header-padding;

  @media(min-width: $breakpoint) {
    flex-direction: row;
  }

  nav a {
    color: $header-link-color;
  }
}
